<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Setting the Start(point)</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>SpoilerButtonTitle</key>
			<string>Show Spoiler</string>
			<key>FileReference</key>
			<string>Spoiler.txt</string>
		</dict>
	</array>
</dict>
</plist>
